@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 15px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  position: absolute;
  left: 0;
  transform: rotate(90deg) translate(150%, 250%);
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 15px 0 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.select {
  width: fit-content;
  height: 30px;
  margin-top: 15px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 20px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  height: 56px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3px 10px;
  margin: 1px;
}
.list li:last-child {
  margin-bottom: 1px;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: darkslategray;
  border: 0;
  color: #fff;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  transform: translate(-575%, 10%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.edit-btn {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: brown;
  color: #fff;
  position: absolute;
  right: 0;
  transform: translate(-325%, 15%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn,
.list li:hover .edit-btn {
  opacity: 1;
}
.edit-btn:focus {
  outline: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 250px;
    padding: 10px 0px 0px 0;
  }

  .inc-exp-container {
    margin: 5px 0;
  }
  h3 {
    padding-bottom: 8px;
    margin: 11px 0 0;
  }
  .select {
    margin-top: 11px;
  }

  .btn {
    margin: 10px 0 10px;
  }
}
